@import url('https://fonts.googleapis.com/css2?family=Inter&family=Fira+Code&display=swap');

body {
  background-color: rgb(19, 19, 19);  
  padding: 0 20rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding-bottom: 2rem;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 1rem;
    font-size: 20px;
}
nav button {
    text-decoration: none;
    color: rgb(189, 184, 184);
    border: none;
    background:none;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Segoe UI';
    text-wrap: nowrap;

}
nav button:hover{
    color: cyan;
}
.active {
    color:white;
    font-size: 17px;
    margin-bottom: 3rem;
}

hr {
    border-color: rgb(0, 0, 0);

}
#image {
    border-radius: 50%;
    justify-content: center;
    margin:auto;
    display: block;
    object-fit: cover;
    width: 120px;
    height: 120px;
}
#name {
    font-weight: 100;
    text-align: center;
    color: rgb(73, 89, 117);
    font-size: 2rem;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: none;
}

span {
    color: rgb(97, 121, 163);
}
#link-txt {
    color:rgb(91, 110, 150);
    font-size: 22px
}

footer, footer h2{
    justify-content: left;
    text-align: center;
    display: flex;   
    gap: 1.5rem;
    padding-top: 1px;
}

footer a{
    color: rgb(5, 123, 153);
}
footer a:hover{
    color: rgb(7, 204, 253);
}
  nav button {
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  section {
    display: none;
  }
  section.active {
    display: block;
  }

@media (max-width: 1440px) {
  body {
    padding: 0 10rem;
  }

}

@media (max-width: 1024px) {
  body {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 1rem;
  }
  nav {
    gap: 15px;
  }
  
}