{% load static %}
{% comment %}
  If you're seeing this message in a web page, You wrongly opened it Dumbass.
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Portfolio </0_0/> </title>
    <link rel="icon" href="{% static 'image/circular-1.png' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
</style>
</head>
  <body>
    <div class="profile">
      <div class="icon">
        <img id="image" src="{% static 'image/cho.jpg' %}"/>
        <p id="name">Carl Ambay</p>
        </div>  
      </div>
      <nav>
        <button data-target="home">Home</button>
        <button data-target="about">My Journey</button>
        <button data-target="contact">Projects</button>
      </nav>
      <main>
        <section class="active" id="home">
          <hr>
          <p>Hi, My name is Carl.</p>
          <p>I'm an aspiring full-stack developer with a strong focus on backend systems. Currently sharpening my skills in tech stacks like 
          <span>Django, React,</span> relational and non-relational databases such as <span>MySQL,
          PostgreSQL (SQL), MongoDB and Cassandra(NoSQL)</span>  — always curious, always building.
          <p>I'm also exploring <span>DevOps</span> tools and diving into <span>Cybersecurity</span>
            to become a more well-rounded and security-conscious developer capable of handling modern web application.</p>

          <div class="footer">
              <footer>
                  <h2 id="link-txt">Links :
                      <a href="https://github.com/greysuyen" target="_blank" aria-label="GitHub">
                      <i class="fab fa-github"></i></a>

                      <a href="https://web.facebook.com/plsgiveme1mburgers" target="_blank" aria-label="Facebook">
                      <i class="fab fa-facebook"></i></a>
                      
                      <a href="https://www.instagram.com/carl_synn/" target="_blank" aria-label="Instagram">
                      <i class="fab fa-instagram"></i></a>
                  </h2>
              </footer>
          </section> 
    <section id="about">
      <hr>
      <h1 class="bt-title">About Me</h1>
      <p>Here is some infos about me.</p>
    </section>

    <section id="contact">
      <hr>
      <h1 class="bt-title">My Mini-Projects</h1>
      <div class="img_container">
        <a href="https://www.calculator.net/" target="_blank">
          <h3>Calculator</h3>
          <img src="{% static 'image/calcu.jpg' %}" alt="Calculator" class="proj-img">
        </a>

        <a href="https://www.facebook.com" target="blank">
          <h3>Todo list</h3>
          <img src="{% static 'image/todo.jpg' %}" alt="Todo-list" class="proj-img">
        </a>
      </div>
    </section>
  </main>

  <script src="{% static 'main.js' %}"></script>
  </body>
</html>